# Database
DATABASE_URL=postgresql://user:password@db.supabase.co:5432/postgres

# IA APIs (Opcional si usas modelos locales)
GROQ_API_KEY=tu_llave
ANTHROPIC_API_KEY=tu_llave

# Pagos
MERCADO_PAGO_PUBLIC_KEY=...
MERCADOPAGO_ACCESS_TOKEN=...
PAYPAL_CLIENT_ID=...
